<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiancai.lora.mapper.DtypeMapper">

    <resultMap id="BaseResultMap" type="com.xiancai.lora.model.entity.Dtype">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="data_type" column="data_type" jdbcType="VARCHAR"/>
            <result property="sensor_id" column="sensor_id" jdbcType="INTEGER"/>
            <result property="sweat" column="sweat" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,data_type,sensor_id,
        sweat,unit
    </sql>
</mapper>
